.weather-detail-box {
    flex-direction: column;
    align-items: center;
    height:300px;
    width:100%;
}

.weather-box-title-container {
    flex: 0;
}

.weather-detail-cityText {
    font-size: 24px;
    font-weight: 500;
}

.weather-detail-dateText {
    font-size: 20px;
    font-style: italic;
}

.weather-box-detail-image-container {
    flex-grow: 1;
}

.weather-box-detail-text-container {
    flex-grow: 2;
}

.weather-box-detail-container {
    display: flex;
    flex-grow: 2;
    align-items: center;
    height:100px;
    width:100%;
}

.weather-box-period-container {
    display: flex;
    flex-grow:1;
    width:100%;
}

.weather-now-image {
    height:100px;
    width: 100px;
}

@media (min-width: 768px) {
    .weather-detail-box {
        width: 450px;
    }
}