.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.input {
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input:focus {
    outline: 0;
}

.button {
    height: 40px;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.blue-button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}