.weather-period {
    flex-grow: 1;
    border: 1px solid black;
    border: 1px outset;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.timeText {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.temperatureText {
    font-size: 14px;
}

.weather-period-image {
    width: 40px;
    height: 40px;
}