.weather-box-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.weather-box {
    position: relative;
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}