
.weather-day-box {
    display: block;
    flex-grow: 1;
    padding: 10px;
}

.weather-day-title {
    font-size:16px;
    font-weight: 500;
    margin: 5px 0;
}

.weather-day-image {
    width: 60px;
    height: 60px;
}

.weather-day-text > p {
    margin: 5px 0;
}